/* 手機版本隱藏菜單 */
.hamburger-menu,
.dropdown-menu {
    display: none;
}

/* HOMEPAGE */
body, html {
    height: 100%;
    font-family: "Comic Sans MS", Trebuchet MS, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
/*年齡認證區塊*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 229, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1555;
}
/*年齡認證區塊*/
.popup {
    background: rgba(240, 240, 255, 0.7);
    padding: 65px;
    border-radius: 15px;
    text-align: center;
    font-size: 60px;
    box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.8);
    font-family: "Comic Sans MS", Trebuchet MS, sans-serif;
    z-index: 1555; 
}
/*年齡認證區塊*/
.popup button {
    font-family: "Comic Sans MS", Trebuchet MS, sans-serif;
    font-size: 55px;
    background-color: rgba(171, 197, 255, 0.4);
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 6px 2px 10px rgba(0, 0, 0, 0.9);
}
/*年齡認證區塊*/
.popup button:hover {
    background-color: rgba(240, 161, 255, 0.9);
}
/*背景大圖片大文字連結等等*/
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    height: 100vh;  
    background: url('homepage20240622.png') no-repeat center center;
    /*https://www.cleankisslifestyle.com/cdn/shop/articles/316942-blue-sky-with-clouds.jpg?v=1605136872.png*/
    background-size: cover; 
}

/*ホームページ*/
.titletop {
    margin: 80px 40px 55px 40px;
    font-size: 120px;
    white-space: nowrap; /*阻止換行*/
    text-shadow: 8px 8px 6px black;
}


/*X/TWITTER*/
.linkbutton {
    padding: 20px 25px;
    text-decoration: none;
    font-family: "Comic Sans MS", Trebuchet MS, sans-serif;
    color: white; /*字體顏色*/
    background-color: hsl(303, 100%, 84%); /*橫條的背景顏色*/
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8) inset, 7px 5px 5px rgba(50, 50, 50, 0.4);
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 55px;
    font-weight: bold;
    text-shadow: 3px 3px 4px black;
    margin-bottom: 33px; 
}


/*X/TWITTER EFFECT*/
.linkbutton:hover {
    background-color: hsl(303, 100%, 88%);
}


.ani {
    opacity: 0;
    transform: translateY(35px);
    animation: moveup 0.4s linear forwards;
}

@keyframes moveup {
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
/*導覽條*/
nav {
    width: 100%;
    position: absolute;
    height: 130px; 
    background-color: rgba(255, 199, 245, 0.5); 
    z-index: 998; 
}

/*導覽條*/
nav a:hover {
    color: #ff69b4;
}
/*導覽條位置與顏色*/
.horizontal-menu-container {
    position: reletive;
    display: flex;
    align-items: center;
    height: 100%;
    z-index: 998; 
    overflow-x: auto;
}

/*包含所有框框*/
.horizontal-menu {
    position: absolute; 
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;
}


.horizontal-menu li {
    position: relative;
    margin: 0 11px;
}
/*導覽條上面的文字*/
.horizontal-menu a {
    text-decoration: none;
    padding: 19px;
    display: rgba(255, 199, 245,);
    font-size: 50px; 
}

.horizontal-menu .list01 a:hover {
    color: hsl(336, 100%, 65%);
}

/*白色按鈕*/
.horizontal-menu .list01 {
    display: inline-block;
    margin-right: 10px; 
    white-space: normal;
    padding: 12px 1px 1px 1px;/*方塊padding*/      
    height: 90px;
    background-color: hsl(332, 100%, 91%); /*方塊顏色*/
    box-shadow: 5px 2px 8px black inset;
    border-radius: 5px;
}

/*白色按鈕的字*/
.horizontal-menu .list01 a {
    text-decoration: none;
    text-shadow: 5px 0px 5px black;
    padding:15px 15px 10px 15px;
    color: hsl(14, 3%, 99%); 
    font-weight: bold;
}

/* 下拉選單 */
.horizontal-menu .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    text-align:left;
    background-color: rgba(255, 193, 231, 0.7);
    border-radius: 9px;
    list-style: none;
    padding: 0;
    margin: 1px;
}

.horizontal-menu .dropdown li {
    width: 350px;
    padding: 8px 0px 25px 20px;
    font-size: 20px;
    
}
/* Show dropdown on hover */
.horizontal-menu li:hover .dropdown {
    display: block;
}


/* 手機設備手機設備 手機設備 手機設備 手機設備 手機設備 手機設備 手機設備 手機設備 手機設備 手機設備 手機設備 手機設備 手機設備 手機設備 手機設備 手機設備 手機設備 手機設備 手機設備 手機設備 手機設備 手機設備手機設備 手機設備 手機設備 手機設備手機設備 手機設備 手機設備 手機設備手機設備 手機設備 手機設備 手機設備  */
@media (max-width: 480px)  {

    nav {
    width: 100%;
    position: absolute;
    z-index: 2;
    height: 60px; 
    background-color: rgba(255, 199, 245, 0.7); 
}

    
/*導覽條*/
nav a:hover {
    color: #ff69b4;
}

    
    /* 隱藏桌面版 */
    .horizontal-menu-container {
        display: none;
    }

    /* MENU菜單 */
    .hamburger-menu {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 1001;
    }

    .hamburger-menu div {
        width: 30px;
        height: 3px;
        background-color: #333;
        margin: 5px 1px;
        padding: 0;
        transition: 0.4s;
    }

    /* 下拉菜單 */
    .dropdown-menu {
        display: none;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;
        background-color: rgba(255, 229, 254, 0.9);
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        z-index: 1000;
        max-height: 300px;
        overflow-y: auto;
    }

        .dropdown-menu a {
        text-decoration: none;
        text-shadow: 2px 0px 3px black;
        font-size: 35px;
        color: rgba(255, 150, 253,1);
        font-weight: bold;
    }

    
    /*使標題維持一樣顏色就算在hover*/
        .dropdown-menu a:hover {

        color: rgba(255, 150, 253,1)
    }


    .dropdown-menu.open {
        display: flex;
        padding: 55px 20px 20px 20px;
        margin: 10px 0 0 0;
    } 


    /*表單的選項超連結到別的html*/
    .dropdown li a {

        color:white;
        font-weight: normal;
    }

        .dropdown li a:hover {

        color:rgba(254, 80, 255,1);
    }



    /*漢堡菜單*/
    .hamburger-menu.open div:nth-child(1) {
        transform: rotate(-45deg) translate(-7px, 12px);
    }
    /*漢堡菜單*/
    .hamburger-menu.open div:nth-child(2) {
        opacity: 0;
    }
    /*漢堡菜單*/
    .hamburger-menu.open div:nth-child(3) {
        transform: rotate(45deg) translate(-6px, -12px);
    }

    /* ホームページ */
    .titletop {
        margin: 40px 20px 30px 20px;
        font-size: 55px;
        white-space: normal;
    }

    /*CIVITAI X/TWITTER*/
    .linkbutton {
        padding: 10px 15px;
        font-size: 30px;
        margin-bottom: 20px;
    }

    .popup {
        padding: 50px;
        font-size: 30px;
    }

    .popup button {
        font-size: 30px;
        padding: 10px 15px;
    }


    .hero {
        background-size: cover;
    }
}

/* 平板設備平板設備平板設備平板設備平板設備平板設備平板設備平板設備平板設備平板設備平板設備平板設備平板設備平板設備平板設備平板設備平板設備平板設備平板設備平板設備平板設備平板設備平板設備平板設備平板設備平板設備平板設備平板設備平板設備平板設備平板設備平板設備平板設備平板設備平板設備平板設備平板設備平板設備平板設備平板設備平板設備 */

@media (max-width: 768px) {

    nav {
    width: 100%;
    position: absolute;
    z-index: 2;
    height: 60px; 
    background-color: rgba(255, 199, 245, 0.7); 
}

    
/*導覽條*/
nav a:hover {
    color: #ff69b4;
}

    
    /* 隱藏桌面版 */
    .horizontal-menu-container {
        display: none;
    }

    /* MENU菜單 */
    .hamburger-menu {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 1001;
    }

    .hamburger-menu div {
        width: 30px;
        height: 3px;
        background-color: #333;
        margin: 5px 1px;
        padding: 0;
        transition: 0.4s;
    }

    /* 下拉菜單 */
    .dropdown-menu {
        display: none;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;
        background-color: rgba(255, 229, 254, 0.9);
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        z-index: 1000;
        max-height: 300px;
        overflow-y: auto;
    }

        .dropdown-menu a {
        text-decoration: none;
        text-shadow: 2px 0px 3px black;
        font-size: 35px;
        color: rgba(255, 150, 253,1);
        font-weight: bold;
    }

    
    /*使標題維持一樣顏色就算在hover*/
        .dropdown-menu a:hover {

        color: rgba(255, 150, 253,1)
    }


    .dropdown-menu.open {
        display: flex;
        padding: 35px 20px 20px 20px;
        margin: 10px 0 0 0;
    } 


    /*表單的選項超連結到別的html*/
    .dropdown li a {

        color:white;
        font-weight: normal;
    }

        .dropdown li a:hover {

        color:rgba(254, 80, 255,1);
    }



    /*漢堡菜單*/
    .hamburger-menu.open div:nth-child(1) {
        transform: rotate(-45deg) translate(-7px, 12px);
    }
    /*漢堡菜單*/
    .hamburger-menu.open div:nth-child(2) {
        opacity: 0;
    }
    /*漢堡菜單*/
    .hamburger-menu.open div:nth-child(3) {
        transform: rotate(45deg) translate(-6px, -12px);
    }

    /* ホームページ */
    .titletop {
        margin: 40px 20px 30px 20px;
        font-size: 55px;
        white-space: normal;
    }

    /*CIVITAI X/TWITTER*/
    .linkbutton {
        padding: 10px 15px;
        font-size: 30px;
        margin-bottom: 20px;
    }

    .popup {
        padding: 50px;
        font-size: 30px;
    }

    .popup button {
        font-size: 30px;
        padding: 10px 15px;
    }


    .hero {
        background-size: cover;
    }
}
